#header{
  background-color: #0F3E4E;
  width:100%;
  height:100px;
  text-align: center;
}
#header img {
  height: 100px;
  weight: 30px;
  float: left;
}
#sidebar-left{
  float:left;
  width:20%;
  background-color: gray;
}
#main{
  float:left;
  width:80%;
  background-color: lightgray;
}
#footer{
  clear:both;
  height: 20px;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
}
#sidebar-left, #main, #sidebar-right{
  min-height: 550px
}
